body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  display: block;
  position: relative;
  width: 800px;
  height: 600px;
  background: #24414f;
  padding: 10px;
}

#gameCanvas {
  color: #ccc;
}

#gameButtons {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  border: 2px solid #333;
  background: #111;
  color: #ffc;
  padding: 0.3em 2em;
  font-size: 0.8em;
  opacity: 0.4;
}
